body {
   top: 0;
   margin: 0;
   overflow-y: scroll;
   overflow-x: none;
   font-family: 'Raleway';
   font-weight: bold;
}

.main-header .main-body-nav {
   display: inline-flex;
   color: #FFF;
   font-family: 'Raleway';
   clear: both;
   margin-bottom: 1%;
   text-decoration-style: none;

}

.main-header {
   background-color: #333;
   width: 100%;
   position: relative;
   clear: both;
   overflow: hidden;
   display: inline-block;
}

.main-header .left-narration {
   clear: both;
   width: 100%;
   z-index: 10;
}

.main-header .left-narration img {
   width: 10%;
}

.main-header .main-body-nav > a {
   display: inline-block;
   font-weight: bold;
   color: #fff;
   text-decoration: none;
   padding: 1.2em;
   margin-left: 4px;
   border: 2px solid transparent;
}

.dropdown a {   
   display: inline-block;
   font-weight: bold;
   color: #fff;
   text-decoration: none;
   padding: 1.2em;
   margin-left: 4px;
   border: 2px solid transparent; 
}

.dropdown a:hover{
   opacity: .5;
   border: 2px solid #7C7BF2;
   color: #7C7BF2;
}

.main-body-nav > a:hover {
   opacity: .5;
   border: 2px solid #7C7BF2;
   color: #7C7BF2;
}

.dropdown:hover + .byCateogry-options{
   display: block;
}

.byCategory-options{
   display: none;
   position: absolute;
   background-color: #333;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.byCategory-options a{
   padding: 12px 16px;
   display: block;
   font-weight: bold;
   color: #fff;
   text-decoration: none;
}

h2 {
   margin-left: 5%;
   font-family: Raleway;
}

.overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.7);
   transition: opacity 500ms;
   visibility: hidden;
   opacity: 0;
   overflow-y:scroll;
}

.overlay:target {
   visibility: visible;
   opacity: 1;
}

.popup {
   margin: 5% auto 3% auto;
   padding: 20px;
   background: #fff;
   border-radius: 5px;
   width: 50%;
   position: relative;
   transition: all 2s ease-in-out;
}

.popup img {
   width: 80%;
   align-content: center;
}

.popup h2 {
   margin-top: 0;
   color: #333;
}

.popup .content a:hover {
   opacity: .6;
}

.popup .close {
   position: absolute;
   top: 20px;
   right: 30px;
   transition: all 200ms;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   color: #333;
}

.popup .content {
   font-size: 1.1em;
   line-height: 1.5em;
   width: 85%;
}

.popup .content a {
   font-family: inherit;
   font-size: inherit;
   color: inherit;
   padding: inherit;
   text-decoration: underline;
}

.main-galley {
   display: table;
   width: 80%;
   border-spacing: 1.4em;
}
.gallery {
   margin: 1.4em;
   border: 2px solid #ccc;
   width: 15%;
   padding: 1em;
   border-radius: 2px;
   opacity: .6;
   display:table-cell;
}

.gallery:hover {
   opacity: 1;
}

.gallery img {
   width: 100%;
   height: auto;
}

.summary {
   text-align: center;
   font-family: Raleway;
   margin-top: 1em;
}

.title {
   font-family: 'raleway';
   font-size: 1.6em;
   padding-left: 5%;
   padding-top: 10px;
}

.footer {
   position: relative;
   align-items: center;
   background-color: rgb(51, 51, 51, .9);
   display: block;
   z-index: 100;
   margin: 0;
   font-size: .6em;
   color: #fff;
   overflow: hidden;
   clear: both;
   width: 100%;
}

.post {
   border: 3px solid #7c7bf2;
   border-radius: 10px;
   width: 80%;
}

hr {
   width: 80%;
   border-top: 2px solid #7c7bf2;
}

.body{
   align-items: center;
   background-image: url("images/mountains.jpg");
   height: 100%;
   width: 100%;
   background-size: cover;
   display: flex;
   position: absolute;
   opacity: .4;
   overflow: hidden;
}

.together{
   position: relative;
}
.post p {
   color: #000;
   margin-left: 5%;
   margin-right: 5%;
   z-index: 100;
   line-height: 1.7em;
}
.main-body .post{
   margin:2em;
}

.main-body{
   margin: 0;
   top:0;
   clear: both;
}
.download {
   display: inline-block;
}

.download:hover {
   text-decoration: underline;
}
.grid{
   width: 120%;
}
.grid img{
   display: inline-block;
   width: 40%;
   position: relative;
}